/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section h2 {
    font-size: 24px;
}

/* Estilos para las listas de habilidades */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    section h2 {
        font-size: 20px;
    }
}
